<!DOCTYPE html>
<html>
<head>
  <title>Date Converter</title>
  <link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
	href="/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <%= params.inspect %>
    <h1>Date Converter</h1>
    <div class="row">
      <div class="col-sm-6" id="real_to_ox">
        <h2>Oxford</h2>
	<form action='#ox_to_real'>
	  <%= erb :_dates, locals: {section: "ox"} %>

	  <div class="form-group">
	    <label class="sr-only" for="ox[term]">Term</label>
	    <select class="form-control" name="ox[term]" id="ox_term">
	      <% TERMS.each do |term| %>
	      <option value="<%= term.downcase %>"><%= term %></option>
	      <% end %>
	    </select>
	  </div>

	  <div class="form-group">
	    <label class="sr-only" for="ox[week]">Weeks</label>
	    <div class="input-group">
	      <div class="input-group-addon">Week</div>
	      <input type="number" class="form-control" name="ox[week]" id="ox_week" value="1">
	    </div>
	  </div>

	  <div class="form-group">
	    <label class="sr-only" for="ox[week_day]">Day</label>
	    <select class="form-control" name="ox[week_day]" id="ox_week_day">
	      <% Date::DAYNAMES.each_with_index do |day, i| %>
	      <option value="<%= i %>"><%= day %></option>
	      <% end %>
	    </select>
	  </div>

	  <input type="hidden" name="direction" value="ox->real">
	  <input type="submit" class="btn btn-primary" value="Convert">
	</form>
      </div>
      <div class="col-sm-6" id="ox_to_real">
        <h2>Everyone Else</h2>
	<form action='#real_to_ox'>
	  <%= erb :_dates, locals: {section: "real"} %>

	  <div class="form-group">
	    <label class="sr-only" for="real[month]">Month</label>
	    <select class="form-control" name="real[month]" id="real_month">
	      <% Date::MONTHNAMES[1..-1].each_with_index do |month,i| %>
	      <option value="<%= i %>"><%= month %></option>
	      <% end %>
	    </select>
	  </div>

	  <div class="form-group">
	    <label class="sr-only" for="real[day]">Day</label>
	    <select class="form-control" name="real[day]" id="real_day">
	      <% (1..31).each do |day| %>
	      <option value="<%= day %>"><%= day %></option>
	      <% end %>
	    </select>
	  </div>

	  <input type="hidden" name="direction" value="real->ox">
	  <input type="submit" class="btn btn-primary" value="Convert">
	</form>
      </div>
    </div>
  </div>
</body>
</html>
